{
  "extends": "standard",
  "env": {
    "browser": true,
    "jquery": true,
    "mocha": true
  },
  "rules": {
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "handle-callback-err": 2,
    "semi-spacing": [2, {
      "before": false,
      "after": true
    }],
    "space-before-function-paren": 0,
    "no-multi-spaces": 0,
    "key-spacing": [2, {
      "align": "value"
    }]
  },
  "globals": {
    "angular": true
  }
}