<ion-view view-title="Swipe Followers">
  <ion-nav-title>
    <div class="padding">
      <img height="30px" src="img/logo.png">
    </div>
  </ion-nav-title>
  <ion-pane ng-controller="CardsCtrl">
    <td-cards>
      <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
          on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
          on-drag-start="" on-snap-back=onDragToggle(false)
          on-partial-swipe="onPartialSwipe(amt)">
        <div class="image">
          <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Yes</div></div>
          <div class="no-text overlayBox"><div class="noBox boxed">No</div></div>
          <img ng-src="{{::card.user.picture.large}}">
        </div>
        <div class="buttondesc" ng-show="card.visible">
          <p class="username">@{{::card.user.username}}</p>
          <p class="followers">no. followers: {{::card.followers}}</p>
          <button ng-click="noCard($index);cardDestroyed($index)" class="button button-assertive">No</button>
          <button ng-click="yesCard($index);cardDestroyed($index)" class="button button-balanced">Yes</button>
        </div>
      </td-card>
      <div class="no-cards" ng-hide="cards.length">
        <div class="image">
          <p>No more followers to swipe!</p>
        </div>
        <div class="buttondesc">
          <button ng-click="refresh()" class="button button-assertive">Refresh</button>
        </div>
      </div>
    </td-cards>
  </ion-pane>
</ion-view>
